<div class="register" class="text-center">
  <main class="form-signin">
    <form #loginForm = 'ngForm' (ngSubmit)="login(loginForm)">
      <img class="mb-4" src="assets/ng.png" alt="" width="20%" />
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <div class="form-floating mb-2">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="abc@gmail.com"
          ngModel
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          ngModel
        />
        <label for="password">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-2">
        Login
      </button>
      <p class="mt-5 mb-3 text-muted">Not Registered? <a routerLink="/register">Register Now</a></p>
    </form>
  </main>
</div>
