<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="assets/ng.png"
    alt=""
    width="10%"
    height="10%"
  />
  <h1 class="display-5 fw-bold">Registration Login Angular Application</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This is simple angular application for user registration, login and
      profile components. To design and develop this application we are using
      angular components and localstorage to store the user data.
    </p>
    <p class="lead mb-4">
      We are using local service to store the data to localstorage.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button
        type="button"
        class="btn btn-primary btn-lg px-4 gap-3"
        (click)="registerComponent()"
      >
        Register Now
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        (click)="login()"
      >
        Login
      </button>
    </div>
  </div>
</div>
