<div class="float-end">
  <button
    type="button"
    class="btn btn-primary position-relative"
    (click)="logout()"
  >
    Log out <i class="bi bi-box-arrow-in-right"></i>
  </button>
</div>
<main class="mt-5 pt-3">
  <div class="container">
    <div class="h1 my-4 text-center">User Profile</div>
    <div class="row my-5">
      <div class="card">
        <div class="card-body">
          <small class="text-uppercase fw-bold text-muted">
            User Information
          </small>
          <hr />
          <p class="card-text fs-6 fw-bold">
            Name -<span class="text-uppercase">{{ userData.name }}</span>
          </p>
          <hr />
          <p class="card-text fs-6 fw-bold">
            Email -<span>{{ userData.email }}</span>
          </p>
          <hr />
          <p class="card-text fs-6 fw-bold">
            Branch -<span class="text-uppercase">{{ userData.branch }}</span>
          </p>
          <hr />
          <p class="card-text fs-6 fw-bold">
            Gender -<span class="text-uppercase">{{ userData.gender }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
